@import "globals";
@include react-md-everything;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%; /* defines 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
